@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.divider {
  @apply h-8 bg-black w-full;
}

.divider-large {
  @apply h-12 bg-black w-full;
}

.divider-extra-large {
  @apply h-32 bg-black w-full;
}

.coming-soon {
  @apply w-full min-h-screen bg-gray-100 flex items-center justify-center;
}

.coming-soon .container {
  @apply text-center;
}

.coming-soon h2 {
  @apply text-4xl font-bold text-gray-900 mb-6;
}

.coming-soon p {
  @apply text-gray-600 max-w-2xl mx-auto;
}
