
$one-ul-above: 1281;
$one-ul: 1280;
$two-ul-above: 1024px;
$two-ul: 1023px;
$three-ul-above: 481;
$three-ul: 480px;
@mixin one-list-above {
  @media (min-width: $one-ul-above) {
    @content;
  }
}
@mixin one-list {
  @media (max-width: $one-ul) {
    @content;
  }
}

@mixin two-list-above {
  @media (min-width: $two-ul-above) {
    @content;
  }
}
@mixin two-list {
  @media (max-width: $two-ul) {
    @content;
  }
}
@mixin three-list-above {
  @media (min-width: $three-ul-above) {
    @content;
  }
}
@mixin three-list {
  @media (max-width: $three-ul) {
    @content;
  }
}





$desktop-above: 1281px;
$desktop: 1280px;

$tablet-above: 1024px;
$tablet: 1023px;

$mobile-above: 768px;
$mobile: 767px;

$mobile-s-above: 481px;
$mobile-s: 480px;

@mixin desktop-above {
  @media (min-width: $desktop-above) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin tablet-above {
  @media (min-width: $tablet-above) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile-above {
  @media (min-width: $mobile-above) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (min-width: $mobile-s-above) {
    @content;
  }
}


@mixin mobile-s {
  @media (max-width: $mobile-s) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}